<div class="text-center" role="status" *ngIf="!currentUser">
    <div class=" spinner-grow text-primary" role="status">
        <span class=" visually-hidden">Loading...</span>
    </div>
</div>
<div class="main bg-light bg-opacity-10 mt-5 shadow p-3 mb-5 bg-body rounded" *ngIf="currentUser">

    <div class="container-view">
        <p-tabMenu [model]="homeItem" [activeItem]="activeItem" (click)="home()">
        </p-tabMenu>
        <p-tabMenu [model]="editItem" [activeItem]="activeItem" (click)="edit()">
        </p-tabMenu>

    </div>
    <ng-container *ngIf="homeTemplate">
        <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-3">
                <div class="card-profile-image">
                    <ng-container *ngIf="currentUser.userData.imageUrl">
                    <img src="{{currentUser.userData.imageUrl}}" class="image">
                    </ng-container>
                    <ng-container *ngIf="!currentUser.userData.imageUrl">
                    <img src="{{defaultImg}}" class="img-thumbnail rounded-circle image">

                    </ng-container>



                </div>
            </div>
        </div>
        <div class="content-container card-text  mx-auto " style="width: 250px; ">
            <div class="username">
                <p class="text-muted mb-0 fw-lighter fs-9   mt-3">Benutzername:</p>
                <p class="name fs-7">{{currentUser.userData.username}}</p>
            </div>
        </div>
        <div class="content-container mx-auto" style="width: 250px; ">
            <div class="email ">
                <p class="text-muted mb-0 fs-6">E-Mail</p>
                <p class="email-text pr-3 ">{{currentUser.userData.email}}</p>
            </div>
        </div>

    </ng-container>


    <ng-container *ngIf="!homeTemplate" [formGroup]="form" ]>
        <div class="container-input ">

            <input type="text" class="form-control mt-3" placeholder="Username"
                [ngModel]="currentUser.userData.username" formControlName="username" aria-label="username"
                aria-describedby="basic-addon1">

            <ng-container *ngIf="checkTouch('username', form)">
                <p *ngIf="form.get('username')?.errors?.['required']">
                    <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error"
                        text="Feld ist erforderlich" styleClass="mr-2"></p-message>
                </p>
            </ng-container>

            <input type="text" class="form-control mt-3 mb-3" [class.invalid]="checkTouch('email', form)"
                placeholder="Имейл" [ngModel]="currentUser.userData.email" formControlName="email" aria-label="email"
                aria-describedby="basic-addon1">

      

            <ng-container *ngIf="checkTouch('email', form)">
                <p *ngIf="form.get('email')?.errors?.['required']">
                    <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error"
                        text="E-Mail Feld ist erforderlich"tyleClass="mr-2"></p-message>
                </p>
                <p *ngIf="form.get('email')?.errors?.['email']">
                    <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error"
                        text="Bitte geben Sie eine gültige Email-Adresse ein" styleClass="mr-2"></p-message>
                </p>
            </ng-container>
            <button type="button" class="btn btn-outline-primary w-60" (click)="filePicker.click()">
                Profilbild hochladen
            </button>

            <input class="filePicker" formControlName="image" type="file" accept="image/*" #filePicker
                (change)="onImagePicked($event) ">
            <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">

                <div class="col-lg-4 order-lg-3 mx-auto">
                    <div class="card-profile-image">
                        <img class=" img-thumbnail d-block rounded-circle image" [src]="imagePreview" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex gap-3 inserted justify-content-center">

            <button type="submit" [disabled]="form.invalid" (click)="onSubmit()"
                class="btn btn-primary m-0 d-grid gap-2 col-4  ">
                Speichern
            </button>

            <button type="button" class="btn btn-danger m-0 d-grid gap-2 col-4" (click)="home()">
                Absagen
            </button>

        </div>
    </ng-container>

</div>