.main {
  margin-left: 35%;
  margin-right: 35%;
  h3 {
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .image {
    width: 126px;
    margin-top: 17px;
    height: 126px;
    margin-bottom: 17px;
  }
}

.container {
  text-align: center;
}

.p-float-label {
  margin: 25px 0px;
}
.p-float-label > input {
  margin: 0px;
  width: 305px;
}
.filePicker {
  visibility: hidden;
}
