@import '../../../style/color';

.main {
  margin: auto;
  width:40%;

  h3 {
    text-align: center;
  }
  .container {
    display: flex;
    margin-top: 10px;
  }

  .card-profile-image {
    height: 126px;
    width: 126px;
   padding-top: 16px;
    margin: auto;
    text-align: center;
  }
}

.container {
  text-align: center;
  justify-content: center
}
.container-input{
  width: 70%;
margin: auto;
}
.p-float-label {
  margin: 25px 0px;
}
.p-float-label > input {
  margin: 0px;
  width: 305px;
}
.filePicker {
  visibility: hidden;
}
.invalid {
  border: 1px solid $error;
  label {
    color: $error;
  }
  &-text {
    color: $error;
  }
}

@media screen and (max-width: 720px) {
  .main {
    margin: auto;
  width:100%;

    .card-profile-image {
      margin: auto;
      text-align: center;
    }
    .d-inline-flex {
      width: 93%;
    }
  }
}
