$mainColor: #a1875c;
$mainColorDark: #473a22;
$whiteBlue: #9aa7bc;
$whiteBrown: #c3b6b9;
$middleBlue: #8494b4;

$attend: #dc637f;
$error: #e24c4c;

$bgColor: #fafafa;

$letterColor: #000000;

$white: #fff;
$bgSubmenueColor: #56e2e2;
$letterSubmenuColor: #3e3b3b94;
$shadowColor: #00000033;

$main: #2563eb;
$mainBg: #7299ef;

$box-shadow: 0 2px 4px -1px #33333352, 0 8px 12px 0 #3333333d, 0 2px 16px 0 #33333329;

$baby-shadow: 0 2px 4px -1px #7299ef, 0 3px 8px 0 #7299ef, 0 2px 8px 0 #7299ef;
