$mainColor: #a1875c;
$mainColorDark: #473a22;
$whiteBlue: #9aa7bc;
$whiteBrown: #c3b6b9;
$middleBlue: #8494b4;

$attend: #dc637f;
$error: #e24c4c;
$chartYellow: #f2ca26;

$bgColor: #fafafa;
$whiteBgColor:#f3f4f8; 

$grayBgColorOpen: rgba(176, 182, 196, 0.187);
$grayBgColorMiddle: rgba(100, 100, 100, 0.42);
$grayBgColorDark: rgba(176, 182, 196, 0.767);


$letterColor: rgb(53, 49, 49);
$letterColorBlack: rgb(0, 0, 0);

$white: #fff;
$bgSubmenueColor: #56e2e2;
$letterSubmenuColor: #3e3b3b94;
$letterColorMidDark: #3e3b3bc9;
$shadowColor: #00000033;

$main: #2563eb;
$mainBg: #7299ef;

$box-shadow: 0 2px 4px -1px #33333352, 0 8px 12px 0 #3333333d, 0 2px 16px 0 #33333329;
$baby-shadow: 0 2px 4px -1px #7299ef, 0 3px 8px 0 #7299ef, 0 2px 8px 0 #7299ef;

$baby-blue-op-9: rgba(137, 207, 240, 0.9);
$baby-blue-midle-op-5: rgba(65, 185, 241, 0.8);
$baby-blue-dark-op-5: rgb(0, 169, 247, 0.8);
