<ng-container  *ngIf="controlName == 'email'" >
    <p *ngIf="sourceGroup.get('controlName')?.errors?.['required']">
        <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error" text="'qwe'" styleClass="mr-2">
        </p-message>
    </p>
    <p *ngIf="sourceGroup.get('controlName')?.errors?.['email']">
        <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error" text="qa123" styleClass="mr-2">
        </p-message>
    </p>

</ng-container>

<ng-container *ngIf="controlName == 'd'">
    <p *ngIf="sourceGroup.get('controlName')?.errors?.['required']">
        <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error" text="123"
            styleClass="mr-2">
        </p-message>
    </p>
    <p *ngIf="sourceGroup.get('controlName')?.errors?.['email']">
        <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error" text="asd"
            styleClass="mr-2">
        </p-message>
    </p>

</ng-container>