@import '../../../style/color';

.mat-sidenav-container{
  display: contents;
}
mat-sidenav {
  background: #25314e;
  width: 60%;
  height: 100%;
}
mat-sidenav-content {
  height: 100vh;

  .main {
    margin-left: 30px;
  }
}


mat-toolbar {
  .content-left {
    display: flex;
    mat-icon {
      margin-left: 1rem;
      margin-top: 1rem;
      color: #6d8299;
    }
  }
  justify-content: space-between;
  .box {
    margin-top: 15px;
    .sidebar {
      margin-right: 1.5rem;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 0.5rem;
  height: 65px;
  margin: 0;
  &-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 0.7rem;
    list-style: none;
    .logout-btn {
      background: none;
      padding: 0px;
    }
    li {
      display: inline;
      margin-right: 15px;
      .profile {
        border-radius: 50%;
        width: 50%;
        margin-left: 25%;
      }
      .username {
        text-align: center;
        margin-top: 0.5rem;
        color: $letterColor;
      }
      a {
        text-decoration: none;

        color: $letterColor;
        width: 100%;
      }
    }
  }

  &-logo {
    display: block;
    cursor: pointer;
    img {
      width: 60px;
      border-radius: 13px;
      margin-top: 10px;
    }
  }
 
  &-dropdown {
    border: none;
    outline: none;
    color: $white;
    display: flex;
    padding: 14px 16px;
    cursor: pointer;
    background-color: inherit;
    & > button {
      border: none;
    }
    &-text {
      font-size: 16px;
      color: $white;
    }

    &:hover div {
      margin-top: 3px;
      border-bottom: 2px solid $main;
      display: inline;
    }

    &:hover ul {
      display: block;
    }
  }

  &-up {
    display: none;
  }

  &-text:hover .navbar-up {
    display: inline;
  }
  &-text:hover .navbar-down {
    display: none;
  }

  &-submenu {
    display: none;

    margin-top: 13px;
    padding: 5px;
    border-radius: 8px;
    background-color: $bgColor;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px $shadowColor;
    z-index: 1;
    margin-right: 1rem;
    li {
      float: none;
      color: $letterColor;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      margin: auto;
      &:hover {
        height: auto;
        overflow: visible;
        background-color: $mainBg;
      }
    }
  }

  &-text-holder {
    color: $letterSubmenuColor;
    font-size: 12px;
    margin: 0px;
  }
}
