@import '../../../style/images-paths.scss';
@import '../../../style/color';
@import '../../../style/animation';

.title {
  text-align: center;
  font-size: 41px;
  margin: 0px;
  margin-top: 10px;
}

.container-main {
  background-color: $white;
  width: 95%;
  border-radius: 10px;
  padding: 21px;
  margin-left: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: $box-shadow;
  margin-top: 50px;
  opacity: 0.8;
  animation: moveInRight 1s ease-out;
  backface-visibility: hidden;

  &-form {
    width: 100%;
    display: block;
  }
  .search {
    display: flex;
    margin: 15px;
    p-inputNumber {
      width: 100%;
    }
    &-input-town {
      width: 60%;
    }
    .service {
      width: 30%;
      text-align: center;
    }
    .button {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 875px) {
  //I have to use !important and ViewEncapsulation.None because I can't select primeNG(class)
  .container-form {
    margin-top: 1rem;
  }

  .container-main {
    width: 90%;
    padding: 0.5em;
    margin-top: 1rem;

    .search {
      flex-direction: column;
      margin: 0px 15px !important;

      .p-element {
        width: 100%;
      }

      .search {
        width: 100%;
      }
      .service {
        width: 100%;
      }
    }
  }
  .container .search-input-town {
    text-indent: 0px !important;
  }

  .drop-down {
    margin-top: 0.5rem;
    width: 100% !important;
    margin-left: 0px !important;
  }
  .button {
    margin-top: 1rem;
    width: 100% !important ;
    .btn {
      margin-left: 0px !important;
    }
  }
}
