<div  class="container">
    <form class="container-form" [formGroup]="form">
        <div class="search">
            <p-dropdown class="drop-down-container-first " formControlName="location" [placeholder]="'Местоположение'"
                [style]="{'width':'100%','height': '48px'}" [options]="cities" class="search-input-town" name="location"
                optionLabel="name">
            </p-dropdown>
            <div class="service">
                <p-dropdown formControlName="adType"  [style]="{'text-align':'left','margin-left':'15px','width':'205px','height': '48px'}"
                    [options]="adType"  optionLabel="adType">
                </p-dropdown>
            </div>
            <div>
                <p-dropdown formControlName="estateType"  
                    [style]="{'margin-left':'15px','width':'205px','height': '48px'}" [options]="type"
                    [placeholder]="'Вид на имота'" optionLabel="type">
                </p-dropdown>
            </div>
        </div>

        <div class="search">
            <p-inputNumber mode="currency" currency="EUR" [useGrouping]="false" formControlName="price"
                placeholder="Цена до" name="price" [style]="{'margin-left':'30px','width':'270px','height': '48px'}"
                title="price" inputId="inputnumber">
            </p-inputNumber>

            <p-inputNumber [useGrouping]="false" formControlName="area" placeholder="Площ от"
                [style]="{'margin-left':'15px','width':'270px','height': '48px'}" inputId="inputnumber">
            </p-inputNumber>

            <div class="button">
                <p-button label="Търси"  [style]="{'margin-left':'15px','width':'100%','height': '48px'}" (click)="onSearch()" type="submit"></p-button>

            </div>
        </div>
    </form>
</div>