@import '../../../style/images-paths.scss';
@import '../../../style/color';

.title {
  text-align: center;
  font-size: 41px;
  margin: 0px;
  margin-top: 10px;
}

.container {
  background-color: $white;
  width: 1150px;
  border-radius: 10px;
  padding: 21px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: $box-shadow;
  margin-top: 50px;
  opacity: 0.8;
  &-form {
    width: 100%;
    display: block;
  }
  .search {
    display: flex;
    margin: 15px;
    &-input-town {
      width: 58%;
      text-indent: 10px;
    }
    .service {
      width: 20%;
      text-align: center;

    }
    .button {
      width: 40%;
    }
  }
}
