<!-- <div class="err-container">
<ng-container *ngIf="addFormGroup.get('location')?.dirty">
    <p *ngIf="addFormGroup.get('location')?.errors?.['required']">
        <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error" text="Полето е задължително"
            styleClass="mr-2"></p-message>
    </p>
</ng-container>

</div> -->

<div class="p-fluid grid" *ngIf="adData">
    <h1 class="header">Добави обява</h1>

    <form action="POST" [formGroup]="addFormGroup" (ngSubmit)="onCreate($event)">

        <div class="drop-down">
            <div class="drop-down-container">
                <p-dropdown class="drop-down-container-first " formControlName="location"
                    [class.invalid]="checkTouch('location', addFormGroup)" [placeholder]="'Местоположение'"
                    [style]="{'height': '48px'}" [ngModel]="setLocation(adData.location)" [options]="cities"
                    (onChange)="changeFromChild($event)" optionLabel="name">
                </p-dropdown>


                <div class="as">
                    <p-dropdown class="drop-down-container-second" [placeholder]="'Район'" formControlName="region"
                        [style]="{'height': '48px'}" [disabled]="shouldDisabled" [ngModel]="region[index]"
                        [options]="region" optionLabel="name">
                    </p-dropdown>
                    <ng-container *ngIf="checkTouch('region', addFormGroup)">
                        <p class="sa" *ngIf="addFormGroup.get('region')?.errors?.['required']">
                            <p-message [style]="{}" severity="error" text="Полето е задължително" styleClass="mr-2">
                            </p-message>
                        </p>
                    </ng-container>
                </div>



                <span class="p-float-label title">
                    <input formControlName="title" [ngModel]="adData.title" type="text" pInputText>
                    <label [style]="{'top': '30%'}" for="float-input">Заглавие/Ключови думи</label>
                </span>
            </div>
            <div class="drop-down-container">
            </div>
        </div>


        <div class="container">
            <div class="container-section">
                <p-dropdown formControlName="estateType" class="drop-down-second" [style]="{'height': '48px'}"
                    [options]="type" [placeholder]="'Вид на имота'" [ngModel]="setEstateType(adData.estateType)"
                    optionLabel="type">
                </p-dropdown>

                <p-multiSelect formControlName="tags" [options]="tags" [selectionLimit]="4" [(ngModel)]="inputTags"
                    class="p-float-label s" [placeholder]="'Тагове'" optionLabel="tag" defaultValue="true">
                </p-multiSelect>


                <p-multiSelect formControlName="constructionType" [(ngModel)]="constType" [options]="constructionType"
                    [selectionLimit]="1" class="p-float-label s" defaultValue="true" [placeholder]="'Вид строителство'"
                    optionLabel="type"></p-multiSelect>
            </div>
        </div>

        <div class="container">
            <div class="container-section">

                <span class="p-float-label">
                    <p-inputNumber [useGrouping]="false" formControlName="price" [ngModel]="adData.price" name="price"
                        title="price" inputId="inputnumber">
                    </p-inputNumber>
                    <label for="inputnumber">цена</label>
                </span>

                <span class="p-float-label">
                    <p-inputNumber [useGrouping]="false" formControlName="area" [ngModel]="adData.area"
                        inputId="inputnumber"></p-inputNumber>
                    <label for="inputnumber">квадратура</label>
                </span>

                <span class="p-float-label">
                    <p-inputNumber [useGrouping]="false" formControlName="floor" [ngModel]="adData.floor"
                        inputId="inputnumber"></p-inputNumber>
                    <label for="inputnumber">етаж</label>
                </span>

            </div>
        </div>

        <div class="container">

            <div class="container-section">
                <div class="radio-container">
                    <div class="container-btn">
                        <p-radioButton formControlName="adType"[ngModel]="adData.adType" name="adType" value="sell"
                            class="radio-btn" inputId="sell">
                        </p-radioButton>
                        <label for="city1">Продавам</label>
                    </div>

                    <div class="container-btn">
                        <p-radioButton name="adType" formControlName="adType" [ngModel]="adData.adType"  value="buy" class="radio-btn"
                            inputId="buy">
                        </p-radioButton>
                        <label for="city1">Отдавам под наем</label>
                    </div>

                    <p-inputSwitch (click)="onCheck()" [ngModel]="checked" [ngModelOptions]="{standalone: true}"></p-inputSwitch><span class="check">Нов проект?</span>
                </div>


                <span class="p-float-label ">
                    <p-inputNumber [useGrouping]="false" formControlName="telNumber" id="float-input"
                        [ngModel]="adData.telNumber" inputId="inputnumber">
                    </p-inputNumber>
                    <label for="inputnumber">телефонен номер</label>
                </span>

            </div>
        </div>


        <div class="input">
            <span class="p-float-label a">
                <textarea id="float-input" rows="10" cols="30" [autoResize]="true" formControlName="moreInfo"
                    [ngModel]="adData.moreInfo" pInputTextarea></textarea>
                <label for="float-input">Допълнителна информация</label>
            </span>
        </div>
        <br>
        <br>

        <div class="card">
            <p-message severity="warn" text="ВНИМАНИЕ! При добавяне на нови снимки старите ще бъдат изтрити перманентно!"></p-message>
            <p-fileUpload name="img" type="files" [customUpload]="true" (uploadHandler)="onUpload($event)"
                (onClear)="onClear()" [invalidFileTypeMessageSummary]="'Невалиден тип на фаила'"
                [invalidFileTypeMessageDetail]="'Позволени са само jpg,png,jpeg'" [chooseLabel]="'избери'"
                [cancelLabel]="'откажи всички'" [uploadLabel]="'Качи снимка/и'" [fileLimit]="5" [multiple]="true"
                accept="image/*" [maxFileSize]="5000000">

                <ng-template pTemplate="content">
                    <ul *ngIf="[uploadedFiles].length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>

            </p-fileUpload>
        </div>
        <p-progressSpinner *ngIf="loading"></p-progressSpinner>

        <p-button [disabled]="addFormGroup.invalid || loading" label="Публикувай" type="submit"></p-button>
    </form>
</div>