<a routerLink=""> <img class="img" src="assets/images/6878.png" alt=""></a>

<section class="main">
    <header class="login-page">
        <article>
            <a class="login-page-login-btn" routerLink="/auth/login">
                Anmelden

            </a>
        </article>
        <article>
            <a class="login-page-register">
                Registrieren

            </a>
        </article>
    </header>

    <form [formGroup]="registerFormGroup" action="post" class="container">
        <p-message *ngIf="errorMessage" [style]="{'margin-top': '10px'}" severity="error" [text]="errorMessage"
            styleClass="mr-2"></p-message>

        <div class="container-input">

            <div class="p-float-label username">
                <input [class.invalid]="checkTouch('username', registerFormGroup)" id="float-input-invalid"
                    formControlName="username" type="text" pInputText>
                <label for="float-input-invalid" [class.invalid-text]="checkTouch('username', registerFormGroup)"
                    class="ng-invalid ng-dirty ">Benutzername</label>
            </div>

            <ng-container *ngIf="checkTouch('username', registerFormGroup)">
                <p *ngIf="registerFormGroup.get('username')?.errors?.['required']">
                    <p-message severity="error" text="Feld ist erforderlich" styleClass="mr-2"></p-message>
                </p>
            </ng-container>

            <div class="p-float-label email">
                <input [class.invalid]="checkTouch('email', registerFormGroup)" id="float-input" type="text"
                    formControlName="email" pInputText>
                <label [class.invalid-text]="checkTouch('email', registerFormGroup)" class="ng-invalid ng-dirty"
                    for="float-input">E-Mail</label>
            </div>

            <ng-container *ngIf="checkTouch('email', registerFormGroup)">
                <p *ngIf="registerFormGroup.get('email')?.errors?.['required']">
                    <p-message severity="error" text="E-Mail Feld ist erforderlich" styleClass="mr-2"></p-message>
                </p>
                <p *ngIf="registerFormGroup.get('email')?.errors?.['email']">
                    <p-message severity="error" text="Bitte geben Sie eine gültige Email-Adresse ein" styleClass="mr-2"></p-message>
                </p>
            </ng-container>
        </div>

        <div class="container-password" >

            <p-password 
                [class.invalid]="checkTouch('password', registerFormGroup)" 
                ngDefaultControl
                formControlName="password" 
                [placeholder]="'Passwort festlegen'" 
                [promptLabel]="'Passwort festlegen'"
                [weakLabel]="'Schwach'" 
                [styleClass]="'password'"
                [mediumLabel]="'Durchschnitt'"
                [strongLabel]="'Stark'"
                [feedback]="true">
            </p-password>
            
            <ng-container *ngIf="checkTouch('password', registerFormGroup)" class="invalid invalid-a">

                <p *ngIf="registerFormGroup.get('password')?.errors?.['required']">
                    <p-message [style]="{ 'margin-top': '10px'}" severity="error" text="Feld ist erforderlich"
                        styleClass="mr-2"></p-message>
                </p>
                <p *ngIf="registerFormGroup.get('password')?.errors?.['minlength']">
                    <p-message [style]="{ 'margin-top': '10px'}" severity="error"
                        text="Das Passwort muss mindestens 4 Zeichen lang sein" styleClass="mr-2"></p-message>
                </p>
                
            </ng-container>
        </div>

        <div class="container-repass">
            <input formControlName="rePass" [class.invalid]="checkTouch('rePass', registerFormGroup)" type="password"
                id="inputtext" pInputText placeholder="Passwort wiederholen">
            <ng-container *ngIf="checkTouch('rePass', registerFormGroup)" class="invalid invalid-a">

                <p *ngIf="registerFormGroup.get('rePass')?.errors?.['required']">
                    <p-message [style]="{ 'margin-top': '10px'}" severity="error" text="Password ist erforderlich"
                        styleClass="mr-2"></p-message>
                </p>
                <p *ngIf="registerFormGroup.get('rePass')?.errors?.['minlength']">
                    <p-message [style]="{ 'margin-top': '10px'}" severity="error"
                        text="Das Passwort muss mindestens 4 Zeichen lang sein" styleClass="mr-2"></p-message>
                </p>
                <p *ngIf="
                    registerFormGroup.controls['rePass']?.errors &&
                    registerFormGroup.get('password')?.touched &&
                    registerFormGroup.get('password')?.valid">

                    <p-message 
                        [style]="{ 'margin-top': '10px'}" 
                        severity="error" 
                        text="Die Passwörter müssen übereinstimmen"
                        styleClass="mr-2">
                    </p-message>
                </p>
            </ng-container>

        </div> 
        <p-button label="Click" id="reg-btn" (click)="onRegister()" [styleClass]="'register'" 
        [class.dis]="registerFormGroup.invalid"
            [disabled]="registerFormGroup.invalid || loading" label="Registrieren"></p-button>
        <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    </form>
</section>

