@import '../../../style/colors';
@import '../../../style/animations';

header {
  .mat-drawer-container {
    display: none;
  }
  .second-header {
    display: none;
  }
  .main-header {
    display: block;
  }
  .navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 0.5rem;
    height: 65px;
    margin: 0;
  }
  .navbar {
    &-links {
      display: inline-flex;
      padding: 0;
      margin: 0;
      align-items: baseline;
      list-style: none;
      li {
        display: inline;
        margin-right: 1rem;
        a {
          text-decoration: none;

          color: $letterColor;
          width: 100%;
        }
      }
    }

    &-logo {
      padding-right: 3rem;
      cursor: pointer;
      list-style: none;
      img {
        width: 60px;
        border-radius: 13px;
        position: absolute;
        top: 0.9rem;
      }
    }

    &-dropdown {
      border: none;
      outline: none;
      color: $letterColor;
      padding: 14px 16px;
      cursor: pointer;
      background-color: inherit;

      &:after {
        display: block;
        content: '';
        margin-top: auto;
        padding-top: 1px;
        border-bottom: solid 2px $main;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }
      &:hover:after {
        transform: scaleX(1);
      }

      & > button {
        border: none;
        background-color: white;
      }
      &-text {
        font-size: 16px;
        color: black;
      }

      .icon-container {
        display: inline;
        position: relative;
        top: 6px;
        border-bottom: none;
        transition: all 0.9s;
      }

      &-icon {
        transform: translateY(5px);
      }

      .navbar-down {
        transition: all 0.5s ease-in-out;
      }
      &:hover .navbar-down {
        transform: rotate(180deg);
        padding-top: 1px;
      }

      &:hover ul {
        display: block;
      }

      .login-side {
        display: inline;
      }
    }

    &-submenu {
      display: none;
      position: absolute;
      margin-top: 13px;
      padding: 5px;
      background-color: $bgColor;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px $shadowColor;
      z-index: 1;

      li {
        float: none;
        color: $letterColor;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        margin: auto;
        transition: all 0.2s;
        &:active {
          transform: translateY(2px);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        }
        &:hover {
          background-color: $mainBg;
        }
      }
    }

    &-text-holder {
      color: $letterSubmenuColor;
      font-size: 12px;
      margin: 0px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-links > li {
    margin-right: 0px !important;
  }
  .navbar-dropdown {
    padding: 14px 12px !important;
  }
  .add-ad {
    display: none !important;
  }
}

@media only screen and (max-width: 720px) {
  .navbar-main {
    display: none !important;
  }
  .mat-drawer-container {
    display: contents !important;
  }

  .mat-sidenav-container {
    display: contents;
  }
  mat-sidenav {
    background: #25314e;
    width: 50%;
    height: 100%;
  }

  mat-sidenav-content {
    height: 100vh !important;
    display: contents !important;

    .main {
      margin-left: 30px;
    }
  }

  mat-toolbar {
    .content-left {
      display: flex;
      mat-icon {
        margin-left: 1rem;
        margin-top: 1rem;
        color: #6d8299;
      }
    }
    justify-content: space-between;
    .box {
      margin-top: 15px;
      .sidebar {
        margin-right: 1.5rem;
      }
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 0.5rem;
    height: 65px !important;
    margin: 0;
    &-links {
      display: flex !important;
      flex-direction: column;
      padding: 0;
      margin: 0;
      margin-top: 0.7rem;
      list-style: none;
      position: relative;
      .logout-btn {
        padding: 0px;
        background-color: inherit;
      }
      li {
        display: inline;
        margin-right: 15px;
      }

      .img-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .username {
          border-radius: 25%;
          margin: auto;
          width: 50%;
        }
        .current-username {
          text-align: center;
          margin-top: 0.5rem;
          color: $letterColor;
        }
      }
    }

    &-logo {
      top: 0.5rem;
      cursor: pointer;
      width: 60px;
      border-radius: 13px;
    }

    &-dropdown {
      border: none;
      outline: none;
      color: $white;
      display: flex;
      padding: 14px 16px;
      cursor: pointer;
      background-color: inherit;
      & > button {
        border: none;
        background-color: inherit !important;
      }
      &-text {
        font-size: 16px;
        color: white !important;
      }

    }

    &-submenu {
      display: none;

      margin-top: 13px;
      padding: 5px;
      border-radius: 8px;
      background-color: $bgColor;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px $shadowColor;
      z-index: 1;
      margin-right: 1rem;
      li {
        float: none;
        color: $letterColor;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        margin: auto;
        &:hover {
          height: auto;
          overflow: visible;
          background-color: $mainBg;
        }
      }
    }

    &-text-holder {
      color: $letterSubmenuColor;
      font-size: 12px;
      margin: 0px;
    }
  }
}

@media only screen and (max-width: 480px) {
  mat-sidenav {
    background: #25314e;
    width: 60%;
    height: 100%;
  }
  .logo{
     top: 0.5rem!important;
  }
}
