<header>
    <ng-container class="main-header">
        <nav class="navbar-main">
            <ul class="navbar-links">
                <li class="navbar-logo">
                    <img class="logo" src="assets/images/6878.png" alt="logo" routerLink="" />
                </li>

                <li class="navbar-dropdown">
                    <div class="navbar-dropdown-text">Suchen
                        <div class="icon-container">

                            <mat-icon class="navbar-down">keyboard_arrow_down</mat-icon>
                            <!-- <fa-icon class="navbar-down" [icon]="icons.faCaretDown"></fa-icon> -->
                            <!-- <fa-icon class="navbar-up" [icon]="icons.faCaretUp"></fa-icon> -->
                        </div>
                    </div>

                    <ul class="navbar-submenu">
                        <a routerLink="properties" id="properties">
                            <li class="navbar-title">
                                Wohnen
                                <p class="navbar-text-holder">Finde dein neues Zuhause</p>
                            </li>
                        </a>

                        <a routerLink="new-projects" id="new-projects">
                            <li>
                                Neubauprojekte
                                <p class="navbar-text-holder">Neue Wohnungen und Häuser</p>
                            </li>
                        </a>

                        <a routerLink="retail-outlet" id="retail-outlet">
                            <li>
                                Gewerbe
                                <p class="navbar-text-holder">Büros, Geschäfte, Industrie,...</p>
                            </li>
                        </a>
                    </ul>
                </li>

                <li class="navbar-dropdown">
                    <div class="navbar-dropdown-text">Verkaufen
                        <div class="icon-container">

                            <mat-icon class="navbar-down">keyboard_arrow_down</mat-icon>
                        </div>


                    </div>
                    <ul class="navbar-submenu">
                        <a routerLink="create/ad" id="create">
                            <li class="navbar-title">
                                Inserat erstellen
                                <p class="navbar-text-holder">Finde passende Käufer</p>
                            </li>
                        </a>


                    </ul>
                </li>

                <li class="navbar-dropdown">
                    <div class="navbar-dropdown-text">Vermieten
                        <div class="icon-container">

                            <mat-icon class="navbar-down">keyboard_arrow_down</mat-icon>
                        </div>

                        <!-- <fa-icon class="navbar-down" [icon]="icons.faCaretDown"></fa-icon>
                        <fa-icon class="navbar-up" [icon]="icons.faCaretUp"></fa-icon> -->
                    </div>

                    <ul class="navbar-submenu">
                        <a routerLink="create/ad" id="create">
                            <li class="navbar-title">
                                Inserat erstellen
                                <p class="navbar-text-holder">Finde passende Mieter</p>
                            </li>
                        </a>

                    </ul>
                </li>

                <li class="navbar-dropdown">
                    <div class="navbar-dropdown-text">Finanzieren
                        <div class="icon-container">
                            <mat-icon class="navbar-down">keyboard_arrow_down</mat-icon>
                        </div>
                        <!-- <fa-icon class="navbar-down" [icon]="icons.faCaretDown"></fa-icon>
                        <fa-icon class="navbar-up" [icon]="icons.faCaretUp"></fa-icon> -->

                    </div>
                    <ul class="navbar-submenu">
                        <a routerLink="calculator" id="calculator">
                            <li class="navbar-title">
                                Finanzierungsrechner
                                <p class="navbar-text-holder">Berechne deine Kreditrate</p>
                            </li>
                        </a>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-links">
                <li class="add-ad navbar-dropdown" routerLink="create/ad" id="create">
                    <a class="login-side">
                        <div class="login-side-container ">
                            <mat-icon class="navbar-dropdown-icon">library_add</mat-icon>Inserat erstellen
                        </div>
                    </a>

                </li>

                <li *ngIf="!userIsAuthenticated" class="navbar-dropdown" id="isNotUser" routerLink="/auth/login">
                    <a class="login-side">
                        <div class="login-side-container ">
                            <mat-icon class="navbar-dropdown-icon user-icon">person_outline</mat-icon>
                            Anmelden
                        </div>
                    </a>
                </li>

                <li *ngIf="userIsAuthenticated" class="navbar-dropdown" id="isUser" routerLink="/auth/profile">
                    <a class="login-side">
                        <div class="login-side-container ">
                            <mat-icon class="navbar-dropdown-icon">person_outline</mat-icon>Mein Konto
                        </div>
                    </a>
                </li>

                <li *ngIf="userIsAuthenticated" (click)="onLogout()" id="logout-btn" class="navbar-dropdown logout-btn">
                    <button class="logout-btn">
                        <div class="navbar-dropdown-text" style="display: inline-flex">
                            <div class="login-side-container " >
                        <fa-icon class="navbar-dropdown-icon" [icon]="icons.faSignOutAlt"></fa-icon>
                                
                                <!-- <i class="fas fa-sign-out-alt  navbar-dropdown-icon"></i> -->
                            </div>
                            </div>
                    </button>
                </li>
            </ul>
        </nav>
    </ng-container>


    <ng-container class="second-header">
        <mat-sidenav-container class="container">
            <mat-sidenav id="sidebar" #sidebar mode='side'>

                <ul class="navbar-links">

                    <li *ngIf="userIsAuthenticated && !!currentUser" class="navbar-dropdown" (click)="sidebar.close()"
                        routerLink="/auth/profile">
                        <a class="img-container">
                            <ng-container *ngIf="currentUser.userData.imageUrl">
                                <img src="{{currentUser.userData.imageUrl}}" class="username" id="user-img">
                            </ng-container>

                            <ng-container *ngIf="!currentUser.userData.imageUrl">
                                <img src="{{defaultImg}}" class="username">
                            </ng-container>

                            <p class="current-username">{{currentUser.userData.username}}</p>
                        </a>
                    </li>
                    <li *ngIf="userIsAuthenticated" (click)="sidebar.close()" (click)="onLogout()"
                        class="navbar-dropdown">
                        <button class="logout-btn">
                            <div class="navbar-dropdown-text">Abmelden</div>
                        </button>
                    </li>

                    <li class="navbar-dropdown">
                        <div class="navbar-dropdown-text">Suchen

                        </div>

                        <ul class="navbar-submenu">
                            <a routerLink="properties" (click)="sidebar.close()">
                                <li class="navbar-title">
                                    Wohnen
                                    <p class="navbar-text-holder">Finde dein neues Zuhause</p>
                                </li>
                            </a>

                            <a routerLink="new-projects" (click)="sidebar.close()">
                                <li>
                                    Neubauprojekte
                                    <p class="navbar-text-holder">Neue Wohnungen und Häuser</p>
                                </li>
                            </a>

                            <a routerLink="retail-outlet" (click)="sidebar.close()">
                                <li>
                                    Gewerbe
                                    <p class="navbar-text-holder">Büros, Geschäfte, Industrie,...
                                    </p>
                                </li>
                            </a>
                        </ul>
                    </li>

                    <li class="navbar-dropdown">
                        <div class="navbar-dropdown-text">Verkaufen

                        </div>
                        <ul class="navbar-submenu">
                            <a routerLink="create/ad" (click)="sidebar.close()">
                                <li class="navbar-title">
                                    Inserat erstellen
                                    <p class="navbar-text-holder">Finde passende Käufer</p>
                                </li>
                            </a>


                        </ul>
                    </li>

                    <li class="navbar-dropdown">
                        <div class="navbar-dropdown-text">Vermieten
                        </div>

                        <ul class="navbar-submenu">
                            <a routerLink="create/ad" (click)="sidebar.close()">
                                <li class="navbar-title">
                                    Inserat erstellen
                                    <p class="navbar-text-holder">Finde passende Mieter</p>
                                </li>
                            </a>
                        </ul>



                    <li class="navbar-dropdown">
                        <div class="navbar-dropdown-text">Finanzieren

                        </div>
                        <ul class="navbar-submenu">
                            <a routerLink="calculator" (click)="sidebar.close()">
                                <li class="navbar-title">
                                    Finanzierungsrechner
                                    <p class="navbar-text-holder">Berechne deine Kreditrate</p>
                                </li>
                            </a>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-links">
                    <li class="navbar-dropdown" routerLink="create/ad" (click)="sidebar.close()">
                        <a>
                            <div class="navbar-dropdown-text">Inserat erstellen</div>
                        </a>
                    </li>
                </ul>

                <li *ngIf="!userIsAuthenticated " class="navbar-dropdown" (click)="sidebar.close()"
                    routerLink="/auth/login">
                    <a>
                        <div (click)="sidebar.close()" class="navbar-dropdown-text">
                            <mat-icon class="navbar-dropdown-icon">person_outline</mat-icon>
                            Anmelden
                        </div>
                    </a>
                </li>

            </mat-sidenav>

            <div class="content">
                <div class="toolbar">
                    <mat-toolbar>

                        <div class="content-left">
                            <li class="navbar-logo">
                                <img class="logo" src="../../../assets/images/6878.png" alt="" routerLink="" />
                            </li>
                        </div>

                        <div class="box">
                            <mat-icon class="sidebar" (click)="sidebar.toggle()">menu</mat-icon>
                        </div>

                    </mat-toolbar>
                </div>
            </div>
        </mat-sidenav-container>
    </ng-container>



</header>
<ng-container *ngIf="!!errorMessage">
    <p-message *ngIf="isErrorType" id='non-err-type' severity="error" text="{{errorMessage}}"
        [style]="{'position': 'absolute', 'margin-left':'80%'}"></p-message>
    <p-message *ngIf="!isErrorType" id='err-type' severity="success" text="{{errorMessage}}"
        [style]="{'position': 'absolute', 'margin-left':'80%'}"></p-message>
</ng-container>