@import '../../../style/color';

.projects-name {
  text-align: center;
  font-size: 33px;
  margin-top: 20px;
  color: $mainColorDark;
}

.container {
  justify-content: center;
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  flex-direction: row;
  display: flex;
  object-fit: cover;
  text-align: center;
  &-data {
    width: 27%;
    margin: 10px;
    box-shadow: $box-shadow;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    &-image {
      max-width: 100%;
      width: 100%;
      max-height: 55%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }
  .description-container {
    text-align: center;
    &-name {
      line-height: 125%;
      max-height: 10%;
      margin-top: 5px;
      &-link {
        text-decoration: none;
      }
    }
    .description-inner-container {
      position: absolute;
      bottom: 10px;
      text-align: center;
      margin-left: 29%;
    }
    .logo-container {
      align-items: center;
      display: flex;
      height: 48px;
      justify-content: center;
      margin: auto;
      width: 144px;
    }
    .logo {
      display: block;
      height: auto;
      max-height: calc(100% - 4px);
      max-width: calc(100% - 4px);
      width: auto;
    }
  }
}
