@import '../../../style/colors';

.main-container {
  width: 100%;
  margin-top: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2rem;
  &-child {
    position: relative;
    display: flex;

    .images {
      width: 60%;
      height: 500px;
      object-fit: fill;
      border-radius: 1%;
    }
    .p-galleria-thumbnail-prev-icon {
      position: absolute;
      bottom: 50%;
      left: 0px;
      color: $white;
      font-size: 33px;
      padding: 14px;
      display: block;
      cursor: pointer;
      margin-left: 14px;
      background: #4a4a4a4d;
      border-radius: 50%;
      opacity: 0.7;
    }
    .p-galleria-thumbnail-after-icon {
      position: absolute;
      bottom: 50%;
      left: 50%;
      color: #fff;
      font-size: 33px;
      padding: 14px;
      display: block;
      cursor: pointer;
      background: #4a4a4a4d;
      border-radius: 50%;
      opacity: 0.7;
    }
    .text-container {
      width: 47%;
      margin: 0px;
      margin-left: 10px;
      margin-top: 10px;

      & > h2 {
        color: $letterColor;
        margin-top: 5px;
      }
      .location {
        font-size: 20px;
      }
    }
    .object-options {
      list-style-type: none;
      display: flex;
      padding: 0px;

      & > li {
        margin-left: 5px;
        background-color: $main;
        color: $white;
        padding: 2px;
        border-radius: 11px;
        overflow-x: hidden;
      }
    }
    .number {
      color: $whiteBlue;
      margin: 0px;
      margin-top: 0px;
      margin-left: 0px;
      margin-left: 10px;
      margin-top: 20px;
      &-text {
        color: $letterColor;
        margin-left: 10px;
      }
    }

    .object-info {
      padding-left: 10px;
      list-style-type: none;
      .text {
        color: $whiteBlue;
      }

      .price {
        font-weight: 700;
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $letterColor;
        border-bottom: 2px solid $main;
        width: 150px;
      }
    }
  }

  .title-description {
    margin-left: 17px;
    display: flex;
  }
  .description {
    color: black;
    font-weight: bold;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 19px;
    margin-top: 6px;
    border-bottom: 2px solid $main;
    width: 130px;
  }
  .description-container {
    display: inline;
    &-text {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
  p-button.p-element{
 margin-right: 1rem;
}
}

.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
}

@media screen and (max-width: 1200px) {
  .p-galleria-thumbnail-after-icon {
    left: 48% !important;
  }
}

@media screen and (max-width: 850px) {
  .main-container-child {
    flex-direction: column;
  }
  .main-container .images {
    width: 96%;
    height: 450px;
    // height: 60% -80% ???
  }
  .main-container .p-galleria-thumbnail-after-icon {
    bottom: 70%;
    left: 80% !important;
  }
  .main-container .p-galleria-thumbnail-prev-icon {
    bottom: 70%;
    left: 2%;
  }
  p-button.p-element > button {
    width: 19% !important;
  }
 

}

@media screen and (max-width: 450px) {
  .main-container {
    margin-left: 0.3em;
  }
  .images {
    width: 98% !important;
  }

  .main-container .p-galleria-thumbnail-after-icon {
    left: 78% !important;
  }
}
