@import '../../../style/color';

.p-fluid {
  box-shadow: $box-shadow;
  margin-left: 13%;
  width: 78%;
   margin-bottom: 1em;
    border-radius: 1rem;
  .header {
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
  }
   
  .drop-down-container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
}

.container-section {
  display: flex;
  width: 100%;
  padding-top: 15px;
  margin-left: 1rem;
}

.input {
  width: 98%;
  margin: auto;
  height: 217px;
  max-height: 217px;
  margin-top: 2em;
}

.p-fluid .p-button {
  width: 40%;
  text-align: center;
}
.container {
  width: 98%;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.8;
  margin: 0px;
}
.p-inputtextarea {
  height: 240px !important;
  max-height: 240px !important;
  overflow: scroll !important;
}
.radio-container {
  display: flex;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 10px;
  .radio-btn {
    margin-right: 5px;
  }

  .container-btn {
    margin-right: 15px;
  }
 
}
 p-button.p-element .submit {
   width: 40%;
    margin: 1em 1.2em;
    
  }
.check {
  text-align: center;
  margin-top: 2px;
  margin-left: 5px;
}
.container-check {
  display: flex;
}
.drop-container {
  width: 33%;
  margin-right: 10px;
}
.first {
  margin-left: 10px;
}
.msg {
  margin: 0px;
  padding: 0px;
  
}

@media screen and (max-width: 1200px) {
  .card {
    margin-top: 30px !important;
  }
  .container-check {
    display: flex;
  }
  .title {
    font-size: 0px;
    margin-top: 0px;
  }
  .p-float-label > label {
    font-size: 16px;
    margin-top: -10px;
  }
  .p-float-label {
    width: 100%;
  }
  .drop-down-container {
    display: flex;
    width: 100%;
    margin-bottom: 0px !important;
    flex-direction: column;
  }
  .tel-num {
    width: 100% !important;
    margin-bottom: 10px;
    margin-left: 0px !important;
  }
  .drop-container {
    width: 96%;
   margin-bottom: 25px;
    margin-left: 10px;
  }
  .container-section {
    flex-direction: column;
  }
  .radio-container {
    margin-left: 10px;
  }
}



@media screen and (max-width: 720px) {
  .p-fluid {
    margin-left: 5% !important;
    width: 90%;
    margin-right: 5% !important;
    .container-section {
      padding: 0;
      .radio-container {
        flex-direction: column;
        .container-check {
          margin-top: 10px;
          display: flex;
        }
        .container-btn {
          margin-top: 10px;
        }
      }
    }
    .p-fileupload-buttonbar {
      display: flex ;
      flex-direction: column ;
    }
  }

  .p-button.p-element {
    margin-top: 10px !important;
  }
  p-button.p-element > button {
    width: 98% !important;
  }
  p-button.p-element .submit {
    width: 92% !important;
  }
}

@media screen and (max-width: 480px) {
  p-button.p-element .submit {
    width: 90%;
  }
}
