<app-add></app-add>

<!-- <div class="card">
    <p-fileUpload name="demo[]" [invalidFileTypeMessageSummary]="'Невалидно'"
        [invalidFileTypeMessageDetail]="'Позволени са само йпг'" [chooseLabel]="'izberi'" [cancelLabel]="'всички'"
        [fileLimit]="5" [showUploadButton]="true" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*"
        [maxFileSize]="5000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
</div> -->