<div class="p-fluid grid">
    <h1 class="header">Inserat erstellen</h1>

    <form [formGroup]="addFormGroup" (ngSubmit)="onCreate($event)">

        <div class="drop-down-container">
            <div class="drop-container first">
                <p-dropdown class="drop-down-container-first " formControlName="location"
                    [placeholder]="'Bundesland'" [style]="{'height': '48px'}" [options]="cities"
                    (onChange)="changeFromChild($event)" optionLabel="name">
                </p-dropdown>

                <ng-container *ngIf="checkTouch('location', addFormGroup)">
                    <p class="msg" *ngIf="addFormGroup.get('location')?.errors?.['required']">
                        <p-message severity="error" text="Feld ist erforderlich" styleClass="mr-2">
                        </p-message>
                    </p>
                </ng-container>
            </div>


            <div class="drop-container">
                <p-dropdown class="drop-down-container-second" [placeholder]="'Gemeinden'" formControlName="region"
                    [style]="{'height': '48px'}" [disabled]="shouldDisabled" [options]="region" optionLabel="name">
                </p-dropdown>
                <ng-container *ngIf="checkTouch('region', addFormGroup)">
                    <p class="msg" *ngIf="addFormGroup.get('region')?.errors?.['required']">
                        <p-message severity="error" text="Feld ist erforderlich" styleClass="mr-2">
                        </p-message>
                    </p>
                </ng-container>
            </div>

            <div class="drop-container container-tag">
                <div class="p-float-label ">
                    <input formControlName="title" type="text" maxlength="58" pInputText>
                    <label for="float-input">Titel / Schlüsselwörter</label>
                </div>
                <ng-container *ngIf="checkTouch('title', addFormGroup)">

                    <p class="msg" *ngIf="addFormGroup.get('title')?.errors?.['required']">
                        <p-message severity="error" text="Feld ist erforderlich" styleClass="mr-2">
                        </p-message>
                    </p>
                </ng-container>
            </div>
        </div>


        <div class="drop-down-container">

            <div class="drop-container first">
                <p-dropdown formControlName="estateType" class="drop-down-second" [style]="{'height': '48px'}"
                    [options]="type" [placeholder]="'Art der Immobilie'" optionLabel="type"></p-dropdown>
                <ng-container *ngIf="checkTouch('estateType', addFormGroup)">
                    <p class="msg" *ngIf="addFormGroup.get('estateType')?.errors?.['required']">
                        <p-message severity="error" text="Feld ist erforderlich" styleClass="mr-2">
                        </p-message>
                    </p>
                </ng-container>
            </div>

            <div class="drop-container container-tag">
                <p-multiSelect formControlName="tags" [options]="tags" [selectionLimit]="4" class="p-float-label tag"
                    [placeholder]="'Stichworte'" optionLabel="tag">
                </p-multiSelect>
                <ng-container *ngIf="checkTouch('tags', addFormGroup)">
                    <p class="msg" *ngIf="addFormGroup.get('tags')?.errors?.['required']">
                        <p-message severity="error" text="Feld ist erforderlich" styleClass="mr-2">
                        </p-message>
                    </p>
                </ng-container>
            </div>

            <div class="drop-container container-tag">

                <p-multiSelect formControlName="constructionType" [options]="constructionType" [selectionLimit]="1"
                    class="p-float-label construction" [placeholder]="'Bauart'" optionLabel="type">
                </p-multiSelect>

                <ng-container *ngIf="checkTouch('constructionType', addFormGroup)">
                    <p class="msg" *ngIf="addFormGroup.get('constructionType')?.errors?.['required']">
                        <p-message severity="error" text="Feld ist erforderlich" styleClass="mr-2">
                        </p-message>
                    </p>
                </ng-container>
            </div>

        </div>


        <div class="drop-down-container">
            <div class="drop-container first">

                <span class="p-float-label">
                    <p-inputNumber mode="currency" currency="EUR" [useGrouping]="false" formControlName="price"
                        name="price" title="Price" inputId="inputnumber">
                    </p-inputNumber>
                    <label for="inputnumber">Price</label>
                </span>
                <ng-container *ngIf="checkTouch('price', addFormGroup)">
                    <p class="msg" *ngIf="addFormGroup.get('price')?.errors?.['required']">
                        <p-message severity="error" text="Feld ist erforderlich" styleClass="mr-2">
                        </p-message>
                    </p>
                </ng-container>
            </div>

            <div class="drop-container container-tag">

                <span class="p-float-label">
                    <p-inputNumber [useGrouping]="false" formControlName="area" inputId="inputnumber">
                    </p-inputNumber>
                    <label for="inputnumber">Fläche m²</label>
                </span>
                <ng-container *ngIf="checkTouch('area', addFormGroup)">
                    <p class="msg" *ngIf="addFormGroup.get('area')?.errors?.['required']">
                        <p-message severity="error" text="Feld ist erforderlich" styleClass="mr-2">
                        </p-message>
                    </p>
                </ng-container>
            </div>


            <div class="drop-container container-tag">

                <span class="p-float-label">
                    <p-inputNumber [useGrouping]="false" formControlName="floor" inputId="inputnumber">
                    </p-inputNumber>
                    <label for="inputnumber">Etage</label>
                </span>

            </div>
        </div>

        <div class="container">

            <div class="container-section">
                <div class="radio-container">
                    <div class="container-btn">
                        <p-radioButton formControlName="adType" name="adType" value="sell" class="radio-btn"
                            inputId="sell">
                        </p-radioButton>
                        <label for="city1">Verkaufen</label>
                    </div>

                    <div class="container-btn">
                        <p-radioButton name="adType" formControlName="adType" value="rent" class="radio-btn"
                            inputId="rent">
                        </p-radioButton>
                        <label class="radio-btn-text" for="city1">Vermieten</label>
                    </div>
                    <div class="container-check">
                        <p-inputSwitch (click)="onCheck()"></p-inputSwitch>
                        <div class="check">Neubauprojekt?
                        </div>
                    </div>
                </div>

                <div class="drop-container container-tag tel-num">

                    <div class="p-float-label">
                        <p-inputNumber [useGrouping]="false" value="number" formControlName="telNumber" id="float-input"
                            inputId="inputnumber">
                        </p-inputNumber>
                        <label for="inputnumber">Telefonnummer</label>
                    </div>
                    <ng-container *ngIf="checkTouch('telNumber', addFormGroup)">
                        <p class="msg" *ngIf="addFormGroup.get('telNumber')?.errors?.['required']">
                            <p-message severity="error" text="Feld ist erforderlich" styleClass="mr-2">
                            </p-message>
                        </p>
                    </ng-container>
                </div>

            </div>
        </div>


        <div class="input more-info">
            <div class="p-float-label">
                <textarea [autoResize]="true" formControlName="moreInfo" pInputTextarea></textarea>
                <label for="float-input">Beschreibung</label>
            </div>
            <ng-container *ngIf="checkTouch('moreInfo', addFormGroup)">
                <p class="msg" *ngIf="addFormGroup.get('moreInfo')?.errors?.['required']">
                    <p-message severity="error" text="Feld ist erforderlich" >
                    </p-message>
                </p>
            </ng-container>
        </div>
        <br>
        <br>

        <div class="card">
            <p-fileUpload name="img" type="file" [customUpload]="true" (uploadHandler)="onUpload($event)"
                (onClear)="onClear()" [invalidFileTypeMessageSummary]="'Ungültiger Dateityp'"
                [invalidFileTypeMessageDetail]="'Erlaubt sind nur jpg,png,jpeg'" [chooseLabel]="'Wählen'"
                [cancelLabel]="'Alle ablehnen'" [showUploadButton]="isDisabled" [uploadLabel]="'Foto/s hochladen'"
                [fileLimit]="5" [multiple]="true" accept="image/*" [styleClass]="'upload-file'" [maxFileSize]="5000000">

                <ng-template pTemplate="content">
                    <ul *ngIf="[uploadedFiles].length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>

            </p-fileUpload>
        </div>
        <p-progressSpinner *ngIf="loading"></p-progressSpinner>
        <div class="submit-container">
        <p-button [styleClass]="'submit'" [disabled]="addFormGroup.invalid || loading" label="Veröffentlichen" type="submit"></p-button>
        </div>
    </form>
</div>