<a routerLink=""> <img class="img" src="assets/images/6878.png" alt=""></a>

<section class="main">
    <header class="login-page">
        <article>
            <a class="login-page-login">
                Вход
            </a>
        </article>
        <article>
            <a class="login-page-register" routerLink="/auth/register">
                Регистрация
            </a>
        </article>
    </header>

    <form [formGroup]="loginFormGroup" method="post" class="container">
        <div class="container-input">
            <p-message *ngIf="errorMessage" [style]="{'width':'305px', 'margin-top': '10px'}" severity="error" [text]="errorMessage"
                styleClass="mr-2"></p-message>

            <span class="p-float-label">
                <input id="float-input" type="text" pInputText name="email" formControlName="email"
                    [class.invalid]="checkTouch('email', loginFormGroup)">

                <label for="float-input" class="ng-invalid ng-dirty"
                    [class.invalid-a]="checkTouch('email', loginFormGroup)">Имейл
                </label>

                <ng-container *ngIf="checkTouch('email', loginFormGroup)">
                    <!-- Имайл полето е задължително
                    Моля въведете валиден Имайл
                    <app-errors [controlName]="'email'" [sourceGroup]="loginFormGroup" [message]="'Имайл полето е задължително"></app-errors> -->
                    <p *ngIf="loginFormGroup.get('email')?.errors?.['required']">
                        <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error"
                            text="Имейл полето е задължително" styleClass="mr-2"></p-message>
                    </p>
                    <p *ngIf="loginFormGroup.get('email')?.errors?.['email']">
                        <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error"
                            text="Моля въведете валиден имейл" styleClass="mr-2"></p-message>
                    </p>
                </ng-container>

            </span>

            <span class="p-float-label">
                <input id="float-input" type="password" pInputText name="password" formControlName="password"
                    [class.invalid]="checkTouch('password', loginFormGroup)">

                <label for="float-input" class="ng-dirty ng-invalid"
                    [class.invalid-a]="checkTouch('password', loginFormGroup)">Парола
                </label>

                <ng-container *ngIf="checkTouch('password', loginFormGroup)" class="invalid invalid-a">

                    <p *ngIf="loginFormGroup.get('password')?.errors?.['required']">
                        <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error"
                            text="Паролата е задължителна" styleClass="mr-2"></p-message>
                    </p>

                    <p *ngIf="loginFormGroup.get('password')?.errors?.['minlength']">
                        <p-message [style]="{'width':'305px', 'margin-top': '10px'}" severity="error"
                            text="Паролата трябва да бъде най-малко 4 символа" styleClass="mr-2"></p-message>
                    </p>

                </ng-container>
            </span>

        </div>
        <p-button label="Click" (onClick)="onLogin()" [disabled]="loginFormGroup.invalid" [disabled]="loading" [style]="{'width':'305px'}"
            label="Вход"></p-button>
            <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    </form>
</section>