<a routerLink=""> <img class="img" src="assets/images/6878.png" alt=""></a>

<section class="main">
    <header class="login-page">
        <article>
            <a class="login-page-login" >
                Вход
            </a>
        </article>
        <article>
            <a class="login-page-register-btn" routerLink="/auth/register">
                Регистрация
            </a>
        </article>
    </header>

    <form [formGroup]="loginFormGroup" method="post" class="form-container">
        <div class="container-input">
            <p-message *ngIf="errorMessage" [style]="{ 'margin-top': '10px'}" severity="error" [text]="errorMessage"
                styleClass="mr-2"></p-message>

            <span class="p-float-label email">
                <input id="float-input" type="text" pInputText name="email" formControlName="email"
                    [class.invalid]="checkTouch('email', loginFormGroup)">

                <label for="float-input" class="ng-invalid ng-dirty"
                    [class.invalid-err]="checkTouch('email', loginFormGroup)">Имейл
                </label>

                <ng-container *ngIf="checkTouch('email', loginFormGroup)">
                 
                    <p *ngIf="loginFormGroup.get('email')?.errors?.['required']">
                        <p-message [style]="{ 'margin-top': '10px'}" severity="error"
                            text="Имейл полето е задължително" styleClass="mr-2"></p-message>
                    </p>
                    <p *ngIf="loginFormGroup.get('email')?.errors?.['email']">
                        <p-message [style]="{ 'margin-top': '10px'}" severity="error"
                            text="Моля въведете валиден имейл" styleClass="mr-2"></p-message>
                    </p>
                </ng-container>

            </span>

            <span class="p-float-label login-password">
                <input id="float-input" type="password" pInputText name="password" formControlName="password"
                    [class.invalid]="checkTouch('password', loginFormGroup)">

                <label for="float-input" class="ng-dirty ng-invalid"
                    [class.invalid-err]="checkTouch('password', loginFormGroup)">Парола
                </label>

                <ng-container *ngIf="checkTouch('password', loginFormGroup)" class="invalid invalid-a">

                    <p *ngIf="loginFormGroup.get('password')?.errors?.['required']">
                        <p-message [style]="{ 'margin-top': '10px'}" severity="error"
                            text="Паролата е задължителна" styleClass="mr-2"></p-message>
                    </p>

                    <p *ngIf="loginFormGroup.get('password')?.errors?.['minlength']">
                        <p-message [style]="{ 'margin-top': '10px'}" severity="error"
                            text="Паролата трябва да бъде най-малко 4 символа" styleClass="mr-2"></p-message>
                    </p>

                </ng-container>
            </span>

            <p-button (click)="onLogin()" type="submit" [styleClass]="'submit-btn'"  [disabled]="loginFormGroup.invalid || loading"  [style]="{'margin-top': '10px'}"
            
                label="Вход"> </p-button>
        </div>
            <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    </form>
</section>