@import '../../../style/images-paths.scss';
@import '../../../style/colors';
@import '../../../style//animations';

.img-container {
  height: 500px;
  .bg-image {
    height: 95%;
    background-image: url('#{$bgImg}');
    background-position: center;
    background-size: cover;
    animation: blink 1s linear;
  }
}

.title {
  text-align: center;
  font-size: 41px;
  margin: 0px;
  padding-top: 10px;
  color: $letterSubmenuColor;
  &-add-item {
    position: relative;
  }
  &-add-item::after {
    position: absolute;
    content: '';
    border-bottom: 3px solid #7299ef;
    width: 100%;
    top: 2.5rem;
    left: 0rem;
    clip-path: polygon(-11px -36px, 110% 6px, 100% 9vh, -36px -10px);
    animation: moveInLeft 2.5s ease-in-out;
  }
}

.projects-name {
  text-align: center;
  font-size: 33px;
  margin-top: 20px;
  color: $mainColorDark;
}

.project-container {
  justify-content: center;
  width: 85%;
  height: 390px;
  margin-bottom: 8px;
  margin-top: 8px;
  flex-direction: row;
  display: flex;
  object-fit: cover;
  text-align: center;
  cursor: pointer;
  margin: auto;

  &-data {
    width: 27%;
    margin: 10px;
    box-shadow: $box-shadow;
    object-fit: cover;
    border-radius: 10px;
    // position: relative;
    transform: scale(1);
    transition: all 0.4s ease;
    &:hover {
      transform: scale(1.03);
      transition: all 0.4s ease;
    }

    &-image {
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      height: 60%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }
  .description-container {
    &-name {
      margin-top: 5px;
      font-size: 20px;
    }
    .description-inner-container {
      font-size: 20px;
      bottom: 10px;
      text-align: center;
      margin-left: 29%;
    }
    .logo-container {
      align-items: center;
      display: flex;
      height: 48px;
      justify-content: center;
      margin: auto;
      width: 144px;
    }
    .logo {
      display: block;
      height: auto;
      max-height: calc(100% - 4px);
      max-width: calc(100% - 4px);
      width: auto;
    }
  }
}

@media only screen and (max-width: 720px) {
  .title {
    margin-top: 0px;
    font-size: 1.5rem;
    padding-top: 0.5em;
    &-add-item::after {
      top: 1.5rem;
    }
  }
  .projects-name {
    font-size: 25px;
    margin-top: 1rem;
  }
  .project-container {
    display: inline-block;
    position: relative;
    box-shadow: none;
    left: 50%;
    transform: translateX(-50%);

    &-data {
      width: 100%;
      margin: 1.2em 0;
    }
  }
}
