<ng-container *ngIf="!isLoading">
    <div class="bg-image">
        <h1 class="title">Само правилните имоти</h1>
        <app-search></app-search>
    </div>

    <h1 class="projects-name">Най-нови и проспективни проекти</h1>

    <div class="container">
        <ng-container *ngFor="let ad of projects">
            <div class="container-data" [routerLink]="'/details/' + ad._id">
                <a class="" aria-label="Premium Projekte in Wien">
                    <img src="{{ad.imageUrls[0]}}" alt="{{ad.title}}" class="container-data-image">
                </a>
                <div class="description-container">
                    <h3 class="description-container-name">
                        {{ad.title | shorten:36}}
                    </h3>
                    <h2 class="mt-3">{{ad.price}}&#x20AC;</h2>
                </div>
            </div>
        </ng-container>
    </div>

    <h1 class="projects-name">Най-нови публикувани обяви</h1>

    <div class="container">
        <ng-container *ngFor="let ad of ads">
            <div class="container-data" [routerLink]="'/details/' + ad._id">

                <a class="" aria-label="Premium Projekte in Wien">
                    <img src="{{ad.imageUrls[0]}}" alt="{{ad.title}}" class="container-data-image">
                </a>

                <div class="description-container">
                    <h3 class="description-container-name">
                        {{ad.title | shorten:36}}
                    </h3>
                    <h2 class="mt-3 ">{{ad.price}}&#x20AC;</h2>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>

<app-spiner [isLoading]="isLoading"></app-spiner>