.password-container {
  display: flex;
  flex-direction: column;
  width: 16%;
  margin: auto;
  .password-field {
    width: 300px;
    &-title {
      margin-left: 0.3rem;
      position: absolute;
      top: 21%;
      transition: all .3s ease;
    }
    &-input {
      position: relative;
      z-index: 1;
      background-color: transparent;
    }
    &-input:not(:placeholder-shown)  + .password-field-title {
      top: 17%;
    }
     &-input:placeholder-shown  + .password-field-title +  {
      top: 21%;
    }

    &-input + .a {
      animation-name: toTop;
      animation: toTop 0.4s forwards;
    }

    // &-input + .b {
    //   animation-name: toBottom;
    //   animation: toBottom .3s backwards;
    // }
   
  }
}

@keyframes toTop {
  0% {
    top: 21%;
  }
  100% {
    top: 17%;
  }
}

@keyframes toBottom {
  0% {
    top: 17%;
  }
  100% {
    top: 21%;
  }
}
