<a routerLink=""> <img class="img" src="assets/images/6878.png" alt=""></a>

<app-password-input></app-password-input>
<form [formGroup]="resetFormGroup"  class="form-container">

<!-- 
    <div class="container-input" >

        <div class="container-input-password" >

          <input type="password"  
          formControlName="password"
        [class.invalid]="checkTouch1('password', resetFormGroup)" 
          >

            <ng-container *ngIf="checkTouch1('password', resetFormGroup)" class="invalid invalid-a">
            
                <p *ngIf="resetFormGroup.get('password')?.errors?.['required']">
                    <p-message [style]="{ 'margin-top': '10px'}" severity="error" text="Feld ist erforderlich" styleClass="mr-2">
                    </p-message>
                </p>
                <p *ngIf="resetFormGroup.get('password')?.errors?.['minlength']">
                    <p-message [style]="{ 'margin-top': '10px'}" severity="error"
                        text="Das Passwort muss mindestens 4 Zeichen lang sein" styleClass="mr-2"></p-message>
                </p>
            </ng-container>
<!-- 
            <ng-container *ngIf="checkTouch('password', passwordsGroup)" class="invalid">
                <p *ngIf="passwordsGroup.get('password')?.errors?.['required']">
                    asd
                </p>

                <p *ngIf="passwordsGroup.get('password')?.errors?.['minlength']">
                    123
                </p>
            </ng-container> -->
        </div>
    </div> -->


     <p-progressSpinner *ngIf="loading"></p-progressSpinner> 
</form>