<a routerLink=""> <img class="img" src="assets/images/6878.png" alt=""></a>


<form [formGroup]="resetFormGroup" method="post" class="form-container">

    <div class="container-input" >

        <div class="container-input-password" formGroupName="passwords">

          <input type="password"  
          formControlName="password"
          [class.invalid]="checkTouch('password', passwordsGroup)"  
          >

            <ng-container *ngIf="checkTouch('password', passwordsGroup)" class="invalid">
                <p *ngIf="passwordsGroup.get('password')?.errors?.['required']">
                    asd
                </p>

                <p *ngIf="passwordsGroup.get('password')?.errors?.['minlength']">
                    123
                </p>
            </ng-container>
        </div>
    </div>


    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
</form>