@import '../../../style/colors';

.img {
  width: 7%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5px;
}


  .ab{
  margin:1rem;
}
  .password-field {
    width: 300px;
    &-repass-title{
      margin-left: 0.3rem;
      position: absolute;
      top: 30%;
      transition: all 0.3s ease;
      margin: 0.5rem;

    }
    &-title {
      margin-left: 0.3rem;
      position: absolute;
      top: 21%;
      transition: all 0.3s ease;
      margin: 0.5rem;
    }
    &-input, &-input1 {
      position: relative;
      z-index: 1;
      background-color: transparent;
      width: 100%;
      border: solid #dce0e3 1.2px;
      height: 42px;
      border-radius: 4px;
    }

    .invalid {
      border: 1px solid $error;
      &.password-field-input:focus {
        outline: none;
        border-color: $error;
        border-color: $error;
        box-shadow: 0 0 3px $attend;
        -moz-box-shadow: 0 0 3px $error;
        -webkit-box-shadow: 0 0 3px $error;
      }
    }
    .invalid + .password-field-title {
      color: $error;
    }
    &-input:not(:placeholder-shown) + .password-field-title {
      top: 17%;

    }
    &-input:placeholder-shown + .password-field-title + {
      top: 21%;

    }

    &-input1:not(:placeholder-shown) + .password-field-repass-title {
       top: 27%;
    }

    
    &-input1:placeholder-shown + .password-field-repass-title + {
          top: 30%;

    }
     &-input1:empty:focus-within
     + .password-field-repass-title  {
       animation-name: toTop1; 
      animation: toTop1 0.4s forwards;
    }

    &-input1:valid:not(:empty):focus 
     + .password-field-repass-title  {
       animation-name: toTop1; 
      animation: toTop1 0.4s forwards;
    }

   

    &-input1:valid:not(:empty):not(:focus) + .password-field-repass-title  {
      animation-name: toBottom1;
      animation: toBottom1 0.4s forwards;
    }


    &-input + .focus {
      animation-name: toTop;
      animation: toTop 0.4s forwards;
    }

    &-input + .focusOut {
      animation-name: toBottom;
      animation: toBottom 0.4s forwards;
    }
  }

  
@keyframes toTop1 {
  0% {
    top: 30%;
  }
  100% {
    top: 27%;
  }
}

@keyframes toBottom1 {
  0% {
    top: 27%;
  }
  100% {
    top: 30%;
  }
}


@keyframes toTop {
  0% {
    top: 21%;
  }
  100% {
    top: 16%;
  }
}

@keyframes toBottom {
  0% {
    top: 17%;
  }
  100% {
    top: 21%;
  }
}

@media only screen and (max-width: 720px) {
  .img {
    width: 13%;
  }
}
