<a routerLink=""> <img class="img" src="assets/images/6878.png" alt=""></a>

<form [formGroup]="resetFormGroup" class="form-container">

	<div class="password-field ab ac">
		<input formControlName="password" [class.invalid]="checkTouch1('password', resetFormGroup)"
			class="password-field-input" (focus)="onFocus($event, 'password')"
			(focusout)="onFocusOut($event, 'password')" [type]="showPassword  ? 'text' : 'password'">

		<p class="password-field-title" [class.focus]="focus" [class.focusOut]="focusOut" for="password">
			Neu Password
		</p>

		<ng-container *ngIf="checkTouch1('password', resetFormGroup)" class="invalid">

			<p *ngIf="resetFormGroup.get('password')?.errors?.['required']">
				<p-message [style]="{ 'margin-top': '1rem'}" severity="error" text="Feld ist erforderlich"
					styleClass="mr-2">
				</p-message>
			</p>

			<p *ngIf="resetFormGroup.get('password')?.errors?.['minlength']">
				<p-message [style]="{ 'margin-top': '1rem'}" severity="error"
					text="Das Passwort muss mindestens 4 Zeichen lang sein" styleClass="mr-2">
				</p-message>
			</p>
		</ng-container>
	</div>


	<div class="password-field ab">

		<input formControlName="rePass" [class.invalid]="checkTouch1('rePass', resetFormGroup)"
			class="password-field-input1" (focus)="onFocus($event, 'rePass')" (focusout)="onFocusOut($event,'rePass')"
			[type]="showPassword  ? 'text' : 'password'">

		<p class="password-field-title" [class.focus1]="focus1" [class.focusOut1]="focusOut1" for="rePass">
			Passwort Wiederholen
		</p>

		<ng-container *ngIf="checkTouch1('rePass', resetFormGroup)" class="invalid invalid-a">

			<p *ngIf="resetFormGroup.get('rePass')?.errors?.['required']">
				<p-message [style]="{ 'margin-top': '1rem'}" severity="error" text="Password ist erforderlich"
					styleClass="mr-2">
				</p-message>
			</p>

			<p *ngIf="resetFormGroup.get('rePass')?.errors?.['minlength'] && resetFormGroup.get('rePass')?.errors?.['required']">
				<p-message [style]="{ 'margin-top': '1rem'}" severity="error"
					text="Das Passwort muss mindestens 4 Zeichen lang sein" styleClass="mr-2">
				</p-message>
			</p>
			<p *ngIf="
					resetFormGroup.get('password')?.touched &&
					resetFormGroup.get('password')?.valid &&
					resetFormGroup.get('password')?.dirty &&
					!resetFormGroup.get('rePass')?.errors?.['required'] 
					">
				<p-message [style]="{ 'margin-top': '1rem'}" severity="error"
					text="Die Passwörter müssen übereinstimmen" styleClass="mr-2">
				</p-message>
			</p>

			<p *ngIf="resetFormGroup.get('password')?.errors &&
					 resetFormGroup.get('password')?.errors?.['required'] &&
					 !resetFormGroup.get('rePass')?.errors?.['required']
					 "					 (change)="asd()">
					 <p-message [style]="{ 'margin-top': '1rem'}" severity="error"
					text="Neu password ist erforderlich" styleClass="mr-2">
				</p-message>
			</p>
		</ng-container>
	</div>
	<p-progressSpinner *ngIf="loading"></p-progressSpinner>
</form>