.img {
  width: 7%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5px;
}
.invalid{
  border: 1px solid red;
}


@media only screen and (max-width: 720px) {
  .img {
    width: 13%;
  }
}