@import '../../../style/color';

.p-fluid {
  box-shadow: $box-shadow;
  margin-left: 13%;
  width: 78%;
  .header {
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
  }
   .drop-down-container {
      display: flex;
      width: 100%;
      margin-bottom: 20px;
    }
}

.container-section {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
}

.input {
  width: 98%;
  margin: auto;
  height: 217px;
}

.p-fluid .p-button {
  width: 40%;
  text-align: center;
}
.radio-container {
  display: flex;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 10px;
  .radio-btn{
    margin-right: 5px;
   
  }
 
  .container-btn {
    margin-right: 15px;
  }
}


.asd{
  margin: 0px
}

.check {
  text-align: center;
  margin-top: 2px;
  margin-left: 5px;
}

.as {
  width: 33%;
  margin-right: 10px;
  
}
.first{
  margin-left:10px
}
.sa {
  margin: 0px;
  padding: 0px;
  
}
