@import '../../../style/colors';
@import '../../../style/mixins';

.calculator {
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: solid 1px $whiteBrown;
  border-radius: 2px;

  &-side-left {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: $grayBgColorOpen;
    position: relative;
    &-container {
      .amount,
      .months,
      .rate,
      .own,
      .years {
        margin: 1rem;
        position: relative;

        .field-name {
          font-weight: 600;
          font-size: 0.9rem;
          margin-bottom: 5px;
        }
        .percentage::after {
          content: attr(data-format);
          position: absolute;
          top: 2.2rem;
          left: 95%;
          font-size: 1.1rem;
        }
        .euro-symbol {
          position: absolute;
          margin-top: 0.65rem;
          margin-left: 0.5rem;
          font-size: 1.1rem;
        }
        .err {
          color: $error;
          &:focus {
            outline: none !important;
            border: 1px solid $error;
            box-shadow: 0 0 10px $error;
            background-color: $error_bg;
          }
        }
      }

      .amount {
        margin-top: 1rem;
        .loan-amount {
          padding-left: 1.4rem;
        }
      }
      .own {
        margin-bottom: 1rem;
        .last-part {
          display: flex;
          width: 100%;
          &-input{
            width: 100%;
            .own-part{
              width: 100%;
            }
          }
        }
        .calc-btn {
          width: 41%;
          margin-left: 1rem;
          background: $main;
          cursor: pointer;
          height: 2.75rem;
          border-radius: 5px;
          border: none;
          color: $white;
          font-weight: 500;
          font-size: 1.1rem;
        }
        .disabled {
          cursor: auto;
          background: #89b3f9;
        }
      }
      .months {
        margin-bottom: 0.4rem;
        & .loan-months {
          margin: 0;
        }
      }

      .years {
        margin-top: 0.4rem;
      }
      .additional-info {
        font-weight: 700;
        font-size: 1rem;
        margin-left: 1rem;
        color: $mainColorDark;
      }

      .loan-months,
      .loan-amount,
      .loan-rate,
      .loan-years,
      .own-part {
        width: 100%;
        border: 1px solid $whiteBrown;
        border-radius: 5px;
        height: 2.9rem;
        -webkit-appearance: none;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none !important;
          -moz-appearance: textfield;
        }

        &:focus {
          outline: none !important;
          border: 1px solid $whiteBlue;
          box-shadow: 0 0 10px $whiteBrown;
          background-color: $whiteBgColor;
        }
      }

      .error-1 {
        color: red;
        &::after .error-years {
          display: block;
          color: red;
        }
      }

      .loan-rate {
        padding-right: 2rem;
      }
      .own-part {
        width: 55%;
      }
    }
  }

  &-side-right {
    width: 50%;
  }
  .monthly {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    &-title {
      margin: 1rem;
      margin-bottom: 0;
      &-info {
        overflow: hidden;
        visibility: hidden;
        background-color: #00000091;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 1.5rem;
      }
    }

    &-title:hover .monthly-title-info {
      visibility: visible;
    }

    &-pay {
      font-size: 3rem;
      font-weight: 900;
      padding-left: 1.5rem;
      color: $letterColorBlack;
      transform: scale(1, 1);
      &::before {
        font-size: 1.5rem;
        content: attr(data-format);
        position: absolute;
        top: 0.8rem;
        left: 38%;
      }
    }
  }
  .paid {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    margin-bottom: 0;
    border-bottom: 1px solid $grayBgColorMiddle;
    padding-bottom: 0.5rem;
  }
  .paid-rate {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    margin-top: 0;
    padding-top: 0.5rem;
  }

  .more-coast {
    &::after {
      content: '';
      border-bottom: 1px solid $grayBgColorMiddle;
      display: block;
      margin: 0.5rem 2rem;
    }

    &-title {
      text-align: center;
      padding: 1rem;

      &::after {
        content: '';
        border-bottom: 1px solid $grayBgColorMiddle;
        display: block;
        margin: 0.5rem 2rem;
      }
    }
    .tax {
      display: flex;
      justify-content: space-between;
      &-title {
        display: flex;
        justify-content: space-between;
        margin-left: 5rem;
        &-editable {
          margin: 0 0.2rem;
        }
      }
      &-coast {
        margin-right: 5rem;
      }
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    &-percentage {
      position: relative;
      margin-left: 7.5rem;
      &-info {
        visibility: hidden;
        background-color: #00000091;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 1.5rem;
      }
    }
    &-percentage:hover .total-percentage-info {
      visibility: visible;
    }
  }
}

.chart {
  margin-left: 10rem;
  display: flex;
  circle.buy {
    stroke-dasharray: var(--buy) 100;
  }
  circle.more-coast {
    stroke-dasharray: var(--coast) 100;
  }

  circle.current-rate {
    stroke-dasharray: var(--rate) 100;
  }
  &-info {
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 1rem;
    &-total-needs {
      margin: 1rem 0;
      font-size: 1.4rem;
      margin-left: 1rem;
      & > span {
        margin-left: 1rem;
      }
    }
    &-container {
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      &-buy,
      &-more-coast,
      &-rate {
        align-items: center;
        color: $letterColorMidDark;
        display: flex;
      }

      &-buy::before {
        @include chartBall($main);
      }

      &-more-coast::before {
        @include chartBall($chartYellow);
      }
      &-rate::before {
        @include chartBall($bgSubmenueColor);
      }
    }
  }
}
