<div class="calculator">
    <div class="calculator-side-left">
        <form class="calculator-side-left-container" [formGroup]="formBuil" (ngSubmit)="onSubmit($event)">

            <div class="amount">
                <div class="field-name" [class.err]="checkErrors('buyPrice', formBuil)">Kreditbetrag</div>

                <span class="euro-symbol">&euro;</span>
                <input class="loan-amount" type="string" [class.err]="checkErrors('buyPrice', formBuil)"
                    name="Kaufpreis" (keypress)="isNumber($event)" formControlName="buyPrice"
                    (input)="setComma($event)">
                <!-- <h2>{{ad.title | shorten: 60}}</h2> -->

                <ng-container *ngIf="formBuil.get('buyPrice')?.errors?.['required']">
                    <p class="err">Feld ist erforderlich</p>
                </ng-container>
            </div>

            <div class="months">
                <div class="field-name" [class.err]="checkErrors('creditDurationMonths', formBuil)">Kreditdauer /
                    Laufzeit (Monate)</div>

                <input class="loan-months" type="text" (change)="onChange($event)" (keypress)="isNumber($event)"
                    formControlName="creditDurationMonths" [class.err]="checkErrors('creditDurationMonths', formBuil)">
                <ng-container *ngIf="formBuil.get('creditDurationMonths')?.errors?.['required']">
                    <p class="err">Feld ist erforderlich</p>
                </ng-container>

                <ng-container *ngIf="formBuil.get('creditDurationMonths')?.errors?.['maxlength']">
                    <p class="err">Laufzeit kann nicht mehr als 3 Zeichen lang sein.</p>
                </ng-container>
            </div>

            <span class="additional-info">Oder</span>

            <div class="years">
                <div class="field-name " [class.err]="checkErrors('creditDurationYears', formBuil)">Kreditdauer /
                    Laufzeit (Jahre)</div>

                <input class="loan-years " type="text" (keypress)="isNumber($event)" (change)="onChange($event)"
                    formControlName="creditDurationYears" [class.err]="checkErrors('creditDurationYears', formBuil)">
                <ng-container *ngIf="formBuil.get('creditDurationYears')?.errors?.['required']">
                    <p class="err">Feld ist erforderlich</p>
                </ng-container>
                <ng-container *ngIf="formBuil.get('creditDurationYears')?.errors?.['maxlength']">
                    <p class="err">Laufzeit kann nicht mehr als 2 Zeichen lang sein.</p>
                </ng-container>
            </div>

            <div class="rate">
                <div class="field-name percentage" data-format="%"
                    [class.err]="checkErrors('ratePercentage', formBuil)">Zinssatz</div>
                <input type="text" class="loan-rate" (keypress)="isNumber($event)" formControlName="ratePercentage"
                    [class.err]="checkErrors('ratePercentage', formBuil)">
                <ng-container *ngIf="formBuil.get('ratePercentage')?.errors?.['required']">
                    <p class="err">Field ist erforderlich</p>
                </ng-container>
                <ng-container *ngIf="formBuil.get('ratePercentage')?.errors?.['maxlength']">
                    <p class="err">Zinsen kann nicht mehr als 2 Zeichen lang sein</p>
                </ng-container>
            </div>

            <div class="btn">


                <button class="calc" type="submit" [disabled]="formBuil.invalid"
                    [class.disabled]="formBuil.invalid">Jetzt berechnen</button>

                <button class="clear" (click)="clear()" >Löschen</button>
            </div>
        </form>
    </div>

    <div class="calculator-side-right">
        <div class="monthly">
            <span class="monthly-title">Kreditrate monatlich &#9432;
                <span class="monthly-title-info">
                
                Es handelt sich dabei um Schätzwerte, deine finale monatliche Kreditrate
                können davon abweichen.</span>
            </span>

            <div class="monthly-pay"><span>&euro;</span> {{monthlyPay}}</div>
        </div>

        <div class="paid">
            <span class="paid-total">Insgesamt für das Darlehen bezahlt</span>
            <span class="paid-amount">&euro; {{totalWithTax}}</span>
        </div>

        <div class="paid-rate">
            <span class="paid-total">Zinsen und Gebühren gesamt</span>
            <span class="paid-amount">&euro;{{totalTax}}</span>
        </div>

        <div class="more-coast">
            <h5 class="more-coast-title">Kaufnebenkosten</h5>
            <div class="tax">
               
                <div class="tax-title">+ Grunderwerbsteuer 
                    (
                        <span >&#9432;
                            <span class="tax-title-info">Klicken Sie 3 mal um die Werte ändern zu können</span>
                        </span>
                    <div (blur)="onBlur($event)" class="tax-title-editable" name="propTransferTax"
                        (keypress)="onKeyPress($event)" (dblclick)="onDblClick($event)"
                        [attr.contenteditable]="allowEdit">{{propTransferTax}}
                    </div>
                   
                    %) 
                </div>
                <div class="tax-coast">{{totalWithTaxValue}} €</div>

            </div>

            <div class="tax">
                <div class="tax-title">+ Errichtung des Kaufvertrags
                    (
                    <div (blur)="onBlur($event)" class="tax-title-editable" name="propSale"
                        (keypress)="onKeyPress($event)" (dblclick)="onDblClick($event)"
                        [attr.contenteditable]="allowEdit">{{propSale}}
                    </div>
                    %)
                </div>
                <div class="tax-coast">{{propSaleValue}} €</div>

            </div>


            <div class="tax">
                <div class="tax-title">+ Eintrag Eigentumsrecht
                    (
                    <div (blur)="onBlur($event)" name="ownershipCoast" class="tax-title-editable"
                        (keypress)="onKeyPress($event)" (dblclick)="onDblClick($event)"
                        [attr.contenteditable]="allowEdit">{{ownershipCoast}}
                    </div>
                    %)
                </div>
                <div class="tax-coast">{{ownershipCoastValue}} €</div>

            </div>

            <div class="tax">
                <div class="tax-title">+ Hypothek Eintrag
                    (
                    <div (blur)="onBlur($event)" name="mortgageEntry" class="tax-title-editable"
                        (keypress)="onKeyPress($event)" (dblclick)="onDblClick($event)"
                        [attr.contenteditable]="allowEdit">{{mortgageEntry}}
                    </div>
                    %)
                </div>
                <div class="tax-coast">{{mortgageEntryValue}} €</div>

            </div>

            <div class="tax">
                <div class="tax-title">+ Maklergebühren
                    (
                    <div (blur)="onBlur($event)" name="brokerFee" class="tax-title-editable"
                        (keypress)="onKeyPress($event)" (dblclick)="onDblClick($event)"
                        [attr.contenteditable]="allowEdit">{{brokerFee}}
                    </div>
                    %)
                </div>
                <div class="tax-coast">{{brokerFeeValue}} €</div>
            </div>



        </div>
        <div class="total">
            <div class="total-percentage">≈ {{totalPercentage}}% &#9432;
                <span class="total-percentage-info">Es handelt sich dabei um Schätzwerte, deine finalen Kaufnebenkosten
                können davon abweichen.</span>
            </div>
            <div class="total-addition"> {{totalExtraCoasts}}&euro;</div>
        </div>

    </div>

</div>

<div class="chart">

    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" tabindex="-1" width="200"
        viewBox="0 0 100 100">

        <circle class="bar buy" style="--buy: 100" cx="50" cy="50" r="40" stroke="#2563eb" stroke-width="10" fill="none"
            pathLength="100" transform="rotate(-90 50 50)" />

        <circle class="bar current-rate" style="--rate: {{chartRate}}" cx="50" cy="50" r="40" stroke="#56e2e2"
            stroke-width="10" fill="none" pathLength="100" transform="rotate(-90 50 50)" />

        <circle class="bar more-coast" style="--coast: {{chartCoast}}" cx="50" cy="50" r="40" stroke="#f2ca26"
            stroke-width="10" fill="none" pathLength="100" transform="rotate(-90 50 50)" />

    </svg>
    <div class="chart-info">
        <div class="chart-info-total-needs">Insgesamt bezahlt
            <span>
                {{total}} €
            </span>
        </div>
        <li class="chart-info-container">
            <div class="chart-info-container-buy">
                <span>
                    {{percentageCredit}}% Kredit Betrag
                </span>
            </div>
            <span>
                {{buyPriceControl.value | toDecimalPipe}} €

            </span>
        </li>

        <li class="chart-info-container">
            <div class="chart-info-container-more-coast">
                <span>
                    {{percentageExtraCoast}}% Kaufnebenkosten
                </span>
            </div>
            <span>
                {{totalExtraCoasts}}€
            </span>
        </li>

        <li class="chart-info-container">
            <div class="chart-info-container-rate">
                <span>
                    {{percentagePaidInterest}}% Total Zinsbetrag
                </span>
            </div>

            <span>
                {{totalTax}}€
            </span>
        </li>

    </div>
</div>