/* You can add global styles to this file, and also import other style files */
@import './style/init-css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Mingzat&display=swap');

@import '~primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';

body {
   font-family: 'Cabin', sans-serif;
  margin: 0;

}

html,
body {
  height: 100%;
}
// body {
//   font-family: Roboto, 'Helvetica Neue', sans-serif;
// }
